
<div class="card cardContenido" >
  <div class="card-header card-header-paddin d-flex justify-content-between align-items-center">
      <h3>Información de la unidad</h3>
      <div class="content-btn-regresar">
          <button type="button" class="btn btn-primary" [routerLink]="['/main/unidades/listadoUnidades']">Regresar</button>
      </div>
  </div>
  <div class="card-body card-body-page">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Unidad</button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Detalle</button>
          </li>
          <li class="nav-item" role="presentation">
              <button class="nav-link" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab"  aria-controls="messages" aria-selected="false">Archivos</button>
          </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

          <div class="tab-pane active content-form" id="home" role="tabpanel" aria-labelledby="home-tab">
              <h3 class="item__title">{{ informacionUnidad.data.nombre_unidad }}</h3>

              <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion">
                      <p class="item__text"><span>Sigla:</span></p>
                  </div>

                  <div class="itenInformacion">
                      <p>{{ informacionUnidad.data.sigla_unidad }}</p>
                  </div>
              </div>

              <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion" >
                      <p class="item__text"><span>Divicion:</span></p>
                  </div>

                  <div class="itenInformacion" >
                    <p>{{ informacionUnidad.data.unidad_superior_jerarquicamente_unidad }}</p>
                  </div>

              </div>

               <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion" >
                      <p class="item__text"><span>Unidad que asumio el archivo:</span></p>
                  </div>

                  <div class="itenInformacion" >
                    <p>{{ informacionUnidad.data.unidad_que_asume_archivo_unidad }}</p>
                  </div>

              </div>
             <!--
               {{ informacionUnidad.data.padre_unidad }}</p>
              <p class="item__text"><span>Departamento / Municipio de creación:</span> {{ informacionUnidad.data.municipio.departamentos.nombre_departamento }} / {{ informacionUnidad.data.municipio.nombre_municipio }}</p> -->
          </div>


          <div class="tab-pane content-form" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <h3 class="item__title">{{ informacionUnidad.data.nombre_unidad }}</h3>

              <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion">
                      <p class="item__text"><span>Acto administrativo de creación: </span></p>
                  </div>

                  <div class="itenInformacion">
                      <p class="item__text">{{ informacionUnidad.data.detalle_unidad.acto_administrativo_creacion_detalle }}</p>
                  </div>
              </div>

              <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion">
                      <p class="item__text"><span>Fecha de creación: </span></p>
                  </div>

                  <div class="itenInformacion">
                      <p class="item__text">{{ informacionUnidad.data.detalle_unidad.fecha_creacion_unidad_detalle }}</p>
                  </div>
              </div>

              <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion">
                      <p class="item__text"><span>Acto administrativo de supresíon: </span></p>
                  </div>

                  <div class="itenInformacion">
                      <p class="item__text">{{ informacionUnidad.data.detalle_unidad.acto_administrativo_desactivacion_detalle }}</p>
                  </div>
              </div>

              <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion">
                      <p class="item__text"><span>Fecha de supresíon: </span></p>
                  </div>

                  <div class="itenInformacion">
                      <p class="item__text">{{ informacionUnidad.data.detalle_unidad.fecha_desactivacion_unidad_detalle }}</p>
                  </div>
              </div>

              <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion">
                      <p class="item__text"><span>Plan de organizacíon diorg: </span></p>
                  </div>

                  <div class="itenInformacion">
                      <p class="item__text">{{ informacionUnidad.data.detalle_unidad.plan_reorganizacion_diorg_detalle }}</p>
                  </div>
              </div>

              <!-- <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion">
                      <p class="item__text"><span>Puesto de mando adelantado: </span></p>
                  </div>

                  <div class="itenInformacion">
                      <p class="item__text">{{ informacionUnidad.data.detalle_unidad.puesto_mando_adelantado_detalle }}</p>
                  </div>
              </div> -->

              <!-- <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion">
                      <p class="item__text"><span>Puesto de mando atrasado: </span></p>
                  </div>

                  <div class="itenInformacion">
                      <p class="item__text">{{ informacionUnidad.data.detalle_unidad.puesto_mando_atrasado_detalle }}</p>
                  </div>
              </div> -->

             <!--  <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion">
                      <p class="item__text"><span>Puesto de mando atrasado: </span></p>
                  </div>

                  <div class="itenInformacion">
                      <p class="item__text">{{ informacionUnidad.data.detalle_unidad.puesto_mando_atrasado_detalle }}</p>
                  </div>
              </div> -->

              <div class="contentVistaInfoUnidad">
                  <div class="itenInformacion">
                      <p class="item__text"><span>Observación: </span></p>
                  </div>

                  <div class="itenInformacion">
                      <p class="item__text">{{ informacionUnidad.data.detalle_unidad.observacion_detalle }}</p>
                  </div>
              </div>


              <!-- <p class="item__text"><span> </span></p>

              <p class="item__text"><span></span></p>

              <p class="item__text"><span> desactivación: </span></p>

              <p class="item__text"><span> </span></p>

              <p class="item__text"><span> </span></p>

              <p class="item__text"><span>Observación:</span></p>

              <p class="item__text-observacion"></p> -->
          </div>


          <div class="tab-pane content-list" id="messages" role="tabpanel" aria-labelledby="messages-tab">
              <h3 class="item__title">{{ informacionUnidad.data.nombre_unidad }}</h3>

              <div class="contentGrafica">
                  <ngx-charts-bar-vertical
                      [view]="view"
                      [scheme]="customColorScheme"
                      [results]="data"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      [legendTitle]="legendTitle"
                      [yAxisTickFormatting]="formatAsPercentage"

                      [dataLabelFormatting]="formatAsPercentage"
                      >
                  </ngx-charts-bar-vertical>
              </div>


              <div class="content-buscador">
                  <input type="text" name="filterPost" id="" class="form-control filtrado-tabla" [(ngModel)] = "filterPost" placeholder="Filtro">
              </div>

              <div class="table-responsive mt-5">
                <table class="table table-hover table-bordered text-center">
                    <thead style="font-size: 1.4rem;" class="table-dark">
                        <tr>
                          <th colspan="6">Total Archivo</th>
                          <th colspan="6" class="bg-success">Total Transferido</th>
                          <th colspan="6" class="bg-warning">Total Pendiente</th>
                          <th>Opciones</th>
                        </tr>
                        <tr>
                          <th>Año</th>
                          <th>Cajas</th>
                          <th>Carpetas</th>
                          <th>Folios</th>
                          <th>Otros</th>
                          <th>Tomos</th>

                          <th class="bg-success">Cajas</th>
                          <th class="bg-success">Carpetas</th>
                          <th class="bg-success">Folios</th>
                          <th class="bg-success">Otros</th>
                          <th class="bg-success">Tomos</th>
                          <th class="bg-success">Porcentaje</th>

                          <th class="bg-warning">Cajas</th>
                          <th class="bg-warning">Carpetas</th>
                          <th class="bg-warning">Folios</th>
                          <th class="bg-warning">Otros</th>
                          <th class="bg-warning">Tomos</th>
                          <th class="bg-warning">Porcentaje</th>
                          <th></th>
                        </tr>
                    </thead>

                    <tbody style="font-size: 1.2rem;">
                        <tr *ngFor="let archivo of informacionArchivoUnidad.data | buscadorArchivoUnidad:filterPost">
                            <td>{{ archivo.anio_registro_archivo }}</td>
                            <td>{{ archivo.numero_cajas_archivos }}</td>
                            <td>{{ archivo.numero_carpetas_archivo }}</td>
                            <td>{{ archivo.numero_folios_archivo }}</td>
                            <td>{{ archivo.numero_otros_archivo }}</td>
                            <td>{{ archivo.numero_tomos_archivo }}</td>

                            <td class="bg-success">{{ archivo.cantidad_cajas_transferencia }}</td>
                            <td class="bg-success">{{ archivo.cantidad_carpetas_transferencia }}</td>
                            <td class="bg-success">{{ archivo.cantidad_folios_transferencia }}</td>
                            <td class="bg-success">{{ archivo.cantidad_otros_transferencia }}</td>
                            <td class="bg-success">{{ archivo.cantidad_tomos_transferencia }}</td>
                            <td class="bg-success">{{ archivo.porcentaje_transferencia }}%</td>

                            <td class="bg-warning">{{ archivo.cantidad_cajas_faltante }}</td>
                            <td class="bg-warning">{{  archivo.cantidad_carpetas_faltante }}</td>
                            <td class="bg-warning">{{ archivo.cantidad_folios_faltante }}</td>
                            <td class="bg-warning">{{ archivo.cantidad_otros_faltante }}</td>
                            <td class="bg-warning">{{ archivo.cantidad_tomos_faltante }}</td>
                            <td class="bg-warning">{{ archivo.porcentaje_faltante | number:'1.0-0'  }}%</td>
                            <td>
                              <button type="button" title="Ver informacion completa" class="btn btn-warning" style="margin-left: 1rem; font-size: 1rem; color: white;" [routerLink]="['/main/unidades/listadoTransferenciasPorArchivo', archivo.id_archivo]">
                                  <i class="fa-solid fa-magnifying-glass-plus"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
              </div>
          </div>
      </div>

  </div>
</div>


  <!-- <app-modal-editar-usuario [usuario]="usuario"></app-modal-editar-usuario> -->


