.item{
    /* border: solid 0.5px var(--negro); */
    padding: 2rem;
    border-radius: 1rem;
    line-height: 1.5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.item__title{
    margin-bottom: 3rem;
    margin-left: 1rem;
}

.item__text span{
    font-weight: bold;
    margin-right: 1rem;
}

.item__text{
    font-size: 1.2rem;
    margin-left: 1rem;
    text-transform: uppercase;
}

.item__text-observacion{
    text-align: justify;
    margin-left: 1rem;
    border: solid 0.5px var(--negro);
    padding: 1rem;
    border-radius: .5rem;
    overflow: auto;
    max-height: 20rem;
}


.contentVistaInfoUnidad{
    margin: 0 auto;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 70%;
}

.itenInformacion{
    width: 100%;
    padding: 1rem;
    border: 1px solid black;
}

.contentGrafica{
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
}
