<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="modalEditarUnidades" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="staticBackdropLabel">Actualizar Unidad</h4>
                <button type="button" #cerrarModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-5">

                <form class="mb-5" [formGroup]="formularioEditarUnidad">
                    <div class="row">
                        <div class="col-md-12 formulario__texto">
                          <p>Diligenciar todos los campos obligatorios marcados con un <span style="color: red;">*</span></p>
                          <p><span style="font-weight: bold; font-size: 2rem;">Unidad: </span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <input class="form-control" type="text" formControlName="nombre" placeholder="* Nombre unidad">
                            @if (this.formularioEditarUnidad.get('nombre')?.touched && formularioEditarUnidad.get('nombre')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo nombre</small>
                                </div>
                            }
                        </div>

                        <div class="col-md-6 form-group">
                            <input class="form-control" type="text" formControlName="padreUnidad" placeholder="* Padre unidad">
                            @if (this.formularioEditarUnidad.get('padreUnidad')?.touched && formularioEditarUnidad.get('padreUnidad')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo padre unidad</small>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row mt-5">
                          <div class="col-md-6 form-group">
                              <input class="form-control" type="text" formControlName="sigla" placeholder="* Sigla unidad">
                              @if (this.formularioEditarUnidad.get('sigla')?.touched && formularioEditarUnidad.get('sigla')?.errors?.['required']){
                                  <div class="invalid-feedback" style="display: block;">
                                      <small class="text-danger">Es necesario el campo sigla</small>
                                  </div>
                              }
                          </div>

                          <div class="col-md-6 form-group">
                              <select class="form-select" name="" id="" formControlName="departamentos">
                                  <option value="">* Departamentos</option>
                                  <option *ngFor="let departamento of departamentos.data" [value]="departamento.id">{{ departamento.nombre }}</option>
                              </select>

                              @if (this.formularioEditarUnidad.get('departamentos')?.touched && formularioEditarUnidad.get('departamentos')?.errors?.['required']){
                                  <div class="invalid-feedback" style="display: block;">
                                      <small class="text-danger">Es necesario el campo departamento</small>
                                  </div>
                              }
                          </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-md-6 form-group">
                            <select class="form-select" formControlName="idMunicipio">
                                <option value="">* Municipios</option>
                                <option *ngFor="let municipio of municipios.data" [value]="municipio.id_municipio">{{ municipio.nombre_municipio }}</option>
                            </select>
                            @if (this.formularioEditarUnidad.get('idMunicipio')?.touched && formularioEditarUnidad.get('idMunicipio')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo municipios</small>
                                </div>
                            }
                        </div>
                    </div>
                </form>
                <hr>

                <form class="mt-5" [formGroup]="formularioEditarDetalleUnidad" *ngIf="seccionEditarDetalle == true" #detalle>
                    <div class="row">
                        <div class="col-md-12 formulario__texto">
                            <p><span style="font-weight: bold; font-size: 2rem;">Detalle unidad: </span></p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <!-- <div class="col-md-4 form-group">
                            <label for="" class="form-label">* Unidad</label>
                            <input type="text" formControlName="nombreUnidad" class="form-control">
                            @if (this.formularioEditarDetalleUnidad.get('nombreUnidad')?.touched && formularioEditarDetalleUnidad.get('nombreUnidad')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo unidad</small>
                                </div>
                            }
                        </div> -->

                        <div class="col-md-4 form-group">
                            <label for="" class="form-label">* Acto administrativo de creacion</label>
                            <input class="form-control" type="text" formControlName="actoAdministrativoCreacion">
                            @if (this.formularioEditarDetalleUnidad.get('actoAdministrativoCreacion')?.touched && formularioEditarDetalleUnidad.get('actoAdministrativoCreacion')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo acto administrativo de creacion</small>
                                </div>
                            }
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="" class="form-label">* Acto administrativo de desactivacion</label>
                            <input class="form-control" type="text" formControlName="actoAdministrativoDesactivacion">
                            @if (this.formularioEditarDetalleUnidad.get('actoAdministrativoDesactivacion')?.touched && formularioEditarDetalleUnidad.get('actoAdministrativoDesactivacion')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo acto administrativo de desactivacion</small>
                                </div>
                            }
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="" class="form-label">* Fecha creacion de la unidad</label>
                            <input type="date" class="form-control" formControlName="fechaCreacionUnidad">
                            @if (this.formularioEditarDetalleUnidad.get('fechaCreacionUnidad')?.touched && formularioEditarDetalleUnidad.get('fechaCreacionUnidad')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo fecha creacion unidad</small>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row mt-5">

                        <div class="col-md-4 form-group">
                            <label for="" class="form-label">* Fecha desactivacion de la unidad</label>
                            <input class="form-control" type="date" formControlName="fechaDesactivacionUnidad">
                            @if (this.formularioEditarDetalleUnidad.get('fechaDesactivacionUnidad')?.touched && formularioEditarDetalleUnidad.get('fechaDesactivacionUnidad')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo fecha desactivacion unidad</small>
                                </div>
                            }
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="" class="form-label">* Puesto de mando adelantado</label>
                            <input class="form-control" type="text" formControlName="puestoMandoAdelantado">
                            @if (this.formularioEditarDetalleUnidad.get('puestoMandoAdelantado')?.touched && formularioEditarDetalleUnidad.get('puestoMandoAdelantado')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo puesto de mando adelantado</small>
                                </div>
                            }
                        </div>

                        <div class="col-md-4 form-group">
                            <label for="" class="form-label">* Puesto de mando atrasado</label>
                            <input type="text" class="form-control" formControlName="puestoMandoAtrasado">
                            @if (this.formularioEditarDetalleUnidad.get('puestoMandoAtrasado')?.touched && formularioEditarDetalleUnidad.get('puestoMandoAtrasado')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo puesto de mando atrasado</small>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row mt-5">

                        <div class="col-md-12 form-group">
                            <label for="" class="form-label">* Acto administrativo de creacion</label>
                            <textarea class="form-control" type="text" formControlName="observacion" rows="3"></textarea>
                            @if (this.formularioEditarDetalleUnidad.get('observacion')?.touched && formularioEditarDetalleUnidad.get('observacion')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo observacion</small>
                                </div>
                            }
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer p-3">
                <div class="content-from__btn">
                    <button type="button" class="btn btn-primary" (click)="validarFormulario()">Editar</button>
                    <button type="button" class="btn btn-secondary" (click)="cerrarModales()">Cerrar</button>
                </div>
            </div>

        </div>
    </div>
</div>
