<div class="contenedorFormularioLogin">

    <div class="content-banner-login">
        <img src="imagenes/pagina/EJC-BLANCO-ALTA2.png" alt="">
    </div>

    <div class="content-form">
        <form class="formulario" [formGroup]="loginForm">

            <div class="formulario__titulo">
                <h2>UNIDADES SUPRIMIDAS</h2>
            </div>

            <div class="formulario__input">
                <input type="text" class="form-control" placeholder="Usuario" formControlName="user_usuario">

                @if (this.loginForm.get('user_usuario')?.touched && this.loginForm.get('user_usuario')?.errors?.['required']) {
                    <div class="invalid-feeback" style="display: block;">
                        <small class="text-danger">El campo usuario es obligatorio.</small>
                    </div>
                }

            </div>

            <div class="formulario__input">
                <input type="password" class="form-control" placeholder="Contraseña" formControlName="password_usuario">

                @if (this.loginForm.get('password_usuario')?.touched && this.loginForm.get('password_usuario')?.errors?.['required']) {
                    <div class="invalid-feeback" style="display: block;">
                        <small class="text-danger">El campo contraseña es obligatorio.</small>
                    </div>
                }

            </div>

            <div class="formulario__restarurar-pass d-flex justify-content-end mb-5">
                <a href="#">Restaurar contraseña</a>
            </div>

            <div class="formulario__btn d-flex justify-content-end">
                <button type="button" class="btn btn-primary" (click)="validarForm()">Iniciar Sesion</button>
            </div>
        </form>
    </div>


</div>


