.contenedorFormularioLogin{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--verdePrincipal); */
    display: flex;

    background-image: url(../../../../../public/imagenes/pagina/banner2.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-banner-login{
    height: 60vh;
    width: 40%;
    /* background-image: url(../../../../../public/imagenes/pagina/escudo.png); */
    background-color: var(--negroTrasparente);

    text-align: center;

}

.content-banner-login img{
    width: 100%;
}
.content-form{
    width: 40%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanco);

}

.formulario{
    width: 100%;
    border: solid .5px black;
    padding: 0 5rem;
    /* box-shadow: var(--shadow); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgba(158, 158, 158, 0.589); */
}

.formulario__icono{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3rem;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 50%;
}

.formulario__icono img{
    width: 15rem;
    height: 18rem;
}

.formulario__titulo{
    margin-bottom: 3rem;
    text-align: center;
}

.formulario__input .form-control{
    border: unset;
    border-bottom: solid 1px black;
    /* border-radius: unset; */
}

.formulario__input{
    margin-bottom: 2rem;
}

.formulario__input:last-of-type{
    margin-bottom: unset;
}

.formulario__boton{
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 0 !important;
}
