<!-- Button trigger modal -->


<!-- Modal -->
    <div class="modal fade" id="modalUsuario" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel">Actualizar Usuario</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="formulario-editar-usuario">
                        <!-- formulario-editar__texto -->
                         <div class="formulario-editar__campos">
                            <div>
                                <input type="text" class="form-control" value="{{ usuario.nombre }}">
                            </div>

                            <div>
                                <input type="text" class="form-control" value="{{ usuario.identificacion }}">
                            </div>

                            <div>
                                <input type="text" class="form-control" value="{{ usuario.usuario }}">
                            </div>

                            <div>
                                <input type="text" class="form-control" value="{{ usuario.email }}">
                            </div>

                            <div>
                                <select class="form-select">
                                    <option *ngFor="let cargo of cargos.data" value="{{ cargo.id }}">{{ cargo.nombre }}</option>
                                </select>
                            </div>

                            <div>
                                <select class="form-select">
                                    <option *ngFor="let tipo of tipoUsuarios.data" value="{{ tipo.id }}">{{ tipo.nombre }}</option>
                                </select>
                            </div>
                         </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Actualizar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




