
<div class="card cardContenido" >
  <div class="card-header card-header-paddin d-flex justify-content-between align-items-center">
      <h3>Listado Usuarios</h3>
      <div class="content-button d-flex justify-content-end align-items-center">
          <button type="button" class="btn btn-primary" [routerLink]="['registroUsuarios']">Crear Usuario</button>
      </div>
  </div>
  <div class="card-body card-body-page">
      <div class="table-usuarios">
          <table class="table table-hover table-usuarios__tabla table-responsive table-bordered" >
              <thead class="text-center table-dark">
                  <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Identificacion</th>
                      <th>Usuario</th>
                      <th>Email</th>
                      <th>Cargo</th>
                      <th>Tipo Usuario</th>
                      <th>Estado</th>
                      <th>OP</th>
                  </tr>
              </thead>
              <tbody class="text-center">
                  <tr *ngFor = "let usuarios of datos.data">
                      <td>{{ usuarios.id }}</td>
                      <td>{{ usuarios.nombre }}</td>
                      <td>{{ usuarios.identificacion }}</td>
                      <td>{{ usuarios.usuario }}</td>
                      <td>{{ usuarios.email }}</td>
                      <td>{{ usuarios.cargo }}</td>
                      <td>{{ usuarios.tipoUsuario }}</td>
                      <td>{{ usuarios.estado }}</td>
                      <td>
                        <button type="button" class="btn btn-primary" style="margin-right: 1rem;" (click)="openModal(usuarios)"> <i class="fas fa-pen fa-lg fa-fw"></i> </button>
                        <button type="button" class="btn btn-secondary"> <i class="fas fa-minus-circle fa-lg fa-fw"></i> </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <nav aria-label="..." *ngIf="pagina > 0">
          <ul class="pagination">
              <li class="page-item">
                  <a class="page-link" [class.disabled]="datos.infoPagination.pagina === 1" (click)="cambiarPagina(datos.infoPagination.pagina - 1)">Anterior</a>
              </li>

              <li *ngFor="let pagina of [].constructor(datos.infoPagination.totalPaginas); let i = index;" class="page-item" [class.active]="datos.infoPagination.pagina == i+1"><a class="page-link"(click)="cambiarPagina(i+1)">{{ i + 1 }}</a></li>

              <li class="page-item">
                  <a class="page-link" [class.disabled]="datos.infoPagination.pagina === datos.infoPagination.totalPaginas" (click)="cambiarPagina(datos.infoPagination.pagina + 1)">Siguiente</a>
              </li>
          </ul>
      </nav>
  </div>
</div>



  <app-modal-editar-usuario *ngIf="usuario" [usuario]="usuario"></app-modal-editar-usuario>


