<div class="header">
    <div class="header__texto">
        <!-- <h2>Unidades Suprimidas</h2> -->
        <img src="imagenes/pagina/PHL texto blanco.png" alt="">
    </div>

    <div class="header__opcion">
        <div class="dropdown">
            <button class="header__opcion-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" style="all: unset;" aria-expanded="false" >
                <i class="fas fa-user fa-3x fa-fw"></i>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#" (click)="cerrarSesion()">Cerrar Sesion</a></li>
            </ul>
        </div>
    </div>
</div>
