.header{
    /* background-image: url(../../../../../public/imagenes/pagina/fondoLogin.png); */
    background-color: var(--negro);
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

.header__texto {
    width: 40%;
}

.header__texto img{
    width: 100%;
}

.header__opcion{
    width: 30%;
    margin-right: 10rem;
}

.header__opcion-btn{
    background-color: unset !important;
    border: unset !important;

}

.header__opcion-btn i{
    color: var(--blanco) !important;
}

.header__opcion-btn:hover{
   cursor: pointer !important;
}

.header__opcion-datos p{
    padding: unset;
    margin: unset;
    text-align: right;
    color: var(--blanco);
}

.dropdown{
    height: 100%;
    display: flex;
    align-items: center;
}

.dropdown-menu{
    width: 150px;
    text-align: center;
}

.dropdown-item{
    padding: 0 !important;
}

.submenu__item{
    margin-bottom: 1.2rem;
    font-size: 1.1rem;
    text-decoration: underline;
}

.submenu__item:hover{
    cursor: pointer;

}

.notificaciones__contenedor{

   display: flex;
   justify-content: space-between;
  padding: .5rem .5rem;
}

.notificaciones{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--gris);
  padding: .3rem .3rem;
  border-radius: .5rem;
  width: calc(33.3% - .2rem);
  font-size: 1.1rem;
}


.main-sidebar{
    min-height: 100%;
    max-height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    box-shadow: var(--shadow);
    background-color: var(--negro);
    /* border-radius: 1rem; */
}

.icono-sidebar{
    /* border:  solid 1px var(--negro); */
    padding: 2rem;
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    display: flex;
    box-shadow: var(--shadow);
}

.icono-sidebar img{
    width: 100%;
    height: 100%;
}

.menu{
    width: 100%;
    margin: unset !important;
    display: flex;
    justify-content: center;
}

.menu__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.menu__item{
    margin-top: 1rem;
    text-align: center;
    color: var(--blanco);
    border-bottom: solid 1px var(--blanco);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
}

.user-menu{
    position: relative;
    display: inline-block;
}


.submenu{
    position: absolute;
    top: 60px;
    right: -110px;

    width: 170px;   /* aquí defines el tamaño */

    background: white;
    border-radius: .5rem;
    box-shadow: 0 8px 20px rgba(0,0,0,.2);

    list-style: none;
    padding: 0;
    margin: 0;

    opacity: 0;
    visibility: hidden;

    transition: all .2s ease;
    z-index: 1000;
    padding: .5rem;
    text-align: center;
}

.user-menu:hover .submenu{
    opacity: 1;
    visibility: visible;
}

.submenu__item:hover{
    background: #f2f2f2;
}

.submenu__item{

   padding: .5rem;
  border: solid 1px var(--gris);
  border-radius: .5rem;
  margin-bottom: 1rem;
  background-color: var(--blanco);
  text-decoration: underline;
  color: var(--negro);
  font-weight: 700;
}

.submenu__item:hover{
  background-color: var(--gris);
  color: var(--negro);
}

.menu__item:hover{
    background-color: var(--verdePrincipal);
    cursor: pointer;
}

.menu__item:hover .submenu{
    opacity: 1;
    visibility: visible;
}

.active {
    background-color: var(--verdePrincipal);
    color: white;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: inherit;
}


