<!--  -->
<div class="header">
  <div class="header__toggle">
    <button class="btn-toggle" (click)="onToggleSidebar()" title="Mostrar/Ocultar menú">
      <i class="fas fa-bars fa-lg"></i>
    </button>
    <img class="header__logo" src="imagenes/pagina/LOGOEJERCITO.png" alt="Logo Ejército Nacional">
  </div>

  <div class="header__texto">
    <!-- <img src="imagenes/pagina/PHL texto blanco.png" alt=""> -->
     <span class="titulo__header text-end"> SISTEMA DE INVENTARIO DOCUMENTAL <span style="margin-left: 10px">SID</span>  </span>
  </div>

  <div class="header__opcion">
    <div class="row">
      <!-- Notificaciones -->
      <div class="col-md-6">
        <div *ngIf="mostrarMenuSuperUsuario" class="notificaciones__contenedor">
          <span class="notificaciones" *ngIf="notificaciones.data.total_hoy != 0">
            <span> Hoy </span>
            <span> {{ notificaciones.data.total_hoy }} </span>
          </span>
          <span class="notificaciones bg-warning" *ngIf="notificaciones.data.total_semana != 0">
            <span> Semana </span>
            <span> {{ notificaciones.data.total_semana }}</span>
          </span>
          <span class="notificaciones bg-danger" *ngIf="notificaciones.data.total_mes != 0">
            <span> Mes </span>
            <span> {{ notificaciones.data.total_mes }}</span>
          </span>
        </div>
      </div>

        <!-- Usuario -->
        <div class="header__usuario">
            <div class="header__usuario-info">
                <div class="header__usuario-nombre">{{ nombreUsuario }}</div>
                <div class="header__usuario-rol">{{ rol }}</div>
            </div>

            <div class="user-menu">
                <button class="btn header__usuario-btn p-0 border-0 text-center">
                  <i class="fas fa-user fa-fw"></i>
                </button>

                <ul class="submenu">
                    <li class="submenu__item">
                        <a href="#" (click)="cerrarSesion()">Cerrar Sesión</a>
                    </li>

                    <li class="submenu__item">
                        <a [routerLink]="['/main/manualUsuario/manuales']">Manual de usuario</a>
                    </li>

                    <li *ngIf="mostrarMenuSuperUsuario" class="submenu__item">
                        <a [routerLink]="['/main/usuarios']">Listado de usuarios</a>
                    </li>

                    <li *ngIf="mostrarMenuSuperUsuario" class="submenu__item">
                        <a [routerLink]="['/main/usuarios/registroUsuarios']">Registro de usuarios</a>
                    </li>
                    <li class="submenu__item">
                        <a [routerLink]="['/main/manualUsuario/informacion']">Informacion del sistema</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>
