<div class="header">
    <div class="header__texto">
        <!-- <h2>Unidades Suprimidas</h2> -->
        <img src="imagenes/pagina/PHL texto blanco.png" alt="">
    </div>

    <div class="header__opcion">
        <div class="row">
          <div class="col-md-10 header__opcion-datos">
              <p style="color: white;">{{ nombreUsuario }}</p>
              <p style="color: white;">{{ rol }}</p>
          </div>
          <div class="col-md-2">
            <div class="dropdown">
                <button class="header__opcion-btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" style="all: unset;" aria-expanded="false" >
                    <i class="fas fa-user fa-2x fa-fw"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item submenu__item" href="#" (click)="cerrarSesion()">Cerrar Sesion</a></li>
                    <li *ngIf="mostrarMenuSuperUsuario" class="submenu__item" [routerLink]="['/main/usuarios']" routerLinkActive="Active">Listado de usuarios</li>
                    <li *ngIf="mostrarMenuSuperUsuario" class="submenu__item" [routerLink]="['/main/usuarios/registroUsuarios']" routerLinkActive="Active">Registro de usuarios</li>
                </ul>
            </div>
          </div>
        </div>
    </div>
</div>
