
<div class="card cardContenido">
  <div class="d-flex card-header card-header-paddin align-items-center justify-content-between">
      <h3>Solicitud de transferencia</h3>
      <div class="d-flex align-items-center justify-content-end content-button"></div>
  </div>
<div class="card-body card-body-page">
  <div class="content-form">
      <div class=""><!-- [formGroup]="formArchivo" -->
          <form action="" >
              <div class="row">
                  <div class="col-md-12 formulario__texto">
                      <p>Diligenciar todos los campos obligatorios marcados con un <span style="color: red">*</span></p>
                  </div>
              </div>
              <div class="row mt-5">

                  <div class="row mt-5">
                      <div class="col-md-4">
                          <label for="" class="form-label">* Unidad</label>
                          <select class="form-select" ><!-- formControlName="id_detalle" -->
                              <option value="">Seleccione</option>
                              <!-- <option *ngFor="let unidad of unidadesSelect.data" value="{{ unidad.id_detalle_unidad }}">{{ unidad.nombre_unidad }}</option> -->
                          </select>

                         <!--  @if (this.formArchivo.get('id_detalle')?.touched && formArchivo.get('id_detalle')?.errors?.['required']){
                              <div class="invalid-feedback" style="display: block;">
                                  <small class="text-danger">Es necesario el campo unidad</small>
                              </div>
                          } -->
                      </div>
                      <div class="col-md-4">
                          <label for="" class="form-label">* Año del archivo</label>
                          <select class="form-select" ><!-- formControlName="anio_registro_archivo" -->
                              <option value="">Seleccione</option>
                              <!-- <option *ngFor="let anio of anios.data" value="{{ anio }}">{{ anio }}</option> -->
                          </select>

                          <!-- @if (this.formArchivo.get('anio_registro_archivo')?.touched && formArchivo.get('anio_registro_archivo')?.errors?.['required']){
                              <div class="invalid-feedback" style="display: block;">
                                  <small class="text-danger">Es necesario el año</small>
                              </div>
                          } -->

                      </div>

                      <div class="col-md-4">
                          <label for="" class="form-label">Cantidad de cajas</label>
                          <input type="number" class="form-control" ><!-- formControlName="numero_carpetas" -->

                         <!--  @if (this.formArchivo.get('numero_carpetas')?.touched && formArchivo.get('numero_carpetas')?.errors?.['required']){
                              <div class="invalid-feedback" style="display: block;">
                                  <small class="text-danger">Es necesario la cantidad de carpetas</small>
                              </div>
                          } -->
                      </div>

                  </div>

                  <div class="row mt-5">

                      <div class="col-md-4">
                          <label for="" class="form-label">Cantidad de folios</label>
                          <input type="number" class="form-control" ><!-- formControlName="numero_folio" -->

                          <!-- @if (this.formArchivo.get('numero_folio')?.touched && formArchivo.get('numero_folio')?.errors?.['required']){
                              <div class="invalid-feedback" style="display: block;">
                                  <small class="text-danger">Es necesario la cantidad de folios</small>
                              </div>
                          } -->
                      </div>

                      <div class="col-md-4">
                          <label for="" class="form-label"> Cantidad de carpetas</label>
                          <input type="number" class="form-control" ><!-- formControlName="numero_cajas" -->

                          <!-- @if (this.formArchivo.get('numero_cajas')?.touched && formArchivo.get('numero_cajas')?.errors?.['required']){
                              <div class="invalid-feedback" style="display: block;">
                                  <small class="text-danger">Es necesario la cantidad de cajas</small>
                              </div>
                          } -->
                      </div>

                      <div class="col-md-4">
                          <label for="" class="form-label">Documentos</label>
                          <input type="file" name="" id="" class="form-control" multiple>
                      </div>
                  </div>
              </div>
          </form>
      </div>

      <div class="row mt-5">
        <div class="col-md-12 content-from__btn">
            <button type="submit" class="btn btn-primary" >Solitar transferencia</button><!-- (click)="validarFormulario()" -->
            <button type="button" class="btn btn-secondary" >Cancelar</button><!-- (click)="limpiarForm()" -->
        </div>
      </div>
  </div>


</div>
</div>
