
<div class="card cardContenido">
  <div class="d-flex card-header card-header-paddin align-items-center justify-content-between">
      <h3>Solicitud de transferencia</h3>
      <div class="d-flex align-items-center justify-content-end content-button"></div>
  </div>
<div class="card-body card-body-page">
  <div class="content-form">
      <div class="">
          <form action="" [formGroup]="formTransferencia">
              <div class="row">
                  <div class="col-md-12 formulario__texto">
                      <p>Diligenciar todos los campos obligatorios marcados con un <span style="color: red">*</span></p>
                  </div>
              </div>
              <div class="row mt-5">

                  <div class="row mt-5">
                      <div class="col-md-4">
                          <label for="" class="form-label">* Unidad</label>
                          <select class="form-select" formControlName="id_detalle_unidad">
                              <option value="">Seleccione</option>
                              <option *ngFor="let unidad of listadoUnidadesConArchivo.data" value="{{ unidad.id_detalle_unidad }}">{{ unidad.nombre_unidad }}</option>
                          </select>

                          @if (this.formTransferencia.get('id_detalle_unidad')?.touched && formTransferencia.get('id_detalle_unidad')?.errors?.['required']){
                              <div class="invalid-feedback" style="display: block;">
                                  <small class="text-danger">Es necesario el campo unidad</small>
                              </div>
                          }
                      </div>
                      <div class="col-md-4">
                          <label for="" class="form-label">* Año del archivo</label>
                          <select class="form-select" formControlName="id_archivo">
                              <option value="">Seleccione</option>
                              <option *ngFor="let anio of listadoArchivoUnidad.data" value="{{ anio.id_archivo }}">{{ anio.anio }}</option>
                          </select>

                          @if (this.formTransferencia.get('id_archivo')?.touched && formTransferencia.get('id_archivo')?.errors?.['required']){
                              <div class="invalid-feedback" style="display: block;">
                                  <small class="text-danger">Es necesario el año</small>
                              </div>
                          }

                      </div>

                      <div class="col-md-4">
                          <label for="" class="form-label">Cantidad de cajas</label>
                          <input type="number" class="form-control" formControlName="cantidad_cajas">

                          @if (this.formTransferencia.get('cantidad_cajas')?.touched && formTransferencia.get('cantidad_cajas')?.errors?.['required']){
                              <div class="invalid-feedback" style="display: block;">
                                  <small class="text-danger">Es necesario la cantidad de carpetas</small>
                              </div>
                          }
                      </div>

                  </div>

                  <div class="row mt-5">

                      <div class="col-md-4">
                          <label for="" class="form-label">Cantidad de carpetas</label>
                          <input type="number" class="form-control" formControlName="cantidad_carpetas">

                          @if (this.formTransferencia.get('cantidad_carpetas')?.touched && formTransferencia.get('cantidad_carpetas')?.errors?.['required']){
                              <div class="invalid-feedback" style="display: block;">
                                  <small class="text-danger">Es necesario la cantidad de folios</small>
                              </div>
                          }
                      </div>

                      <div class="col-md-4">
                          <label for="" class="form-label"> Cantidad de folios</label>
                          <input type="number" class="form-control" formControlName="cantidad_folios">

                          @if (this.formTransferencia.get('cantidad_folios')?.touched && formTransferencia.get('cantidad_folios')?.errors?.['required']){
                              <div class="invalid-feedback" style="display: block;">
                                  <small class="text-danger">Es necesario la cantidad de cajas</small>
                              </div>
                          }
                      </div>

                      <div class="col-md-4">
                          <label for="" class="form-label">Documentos</label>
                          <input class="form-control" formControlName="documentos" type="file" multiple (change)="seleccionDeArchivo($event)"accept=".pdf,.docx,.jpg,.png"/>

                          @if (this.formTransferencia.get('documentos')?.touched && formTransferencia.get('documentos')?.errors?.['required']){
                              <div class="invalid-feedback" style="display: block;">
                                  <small class="text-danger">Es necesario la cantidad de cajas</small>
                              </div>
                          }
                      </div>
                  </div>
              </div>
          </form>
      </div>

      <div class="row mt-5">
        <div class="col-md-12 content-from__btn">
            <button type="submit" class="btn btn-primary" (click)="validarForm()">Solitar transferencia</button>
            <button type="button" class="btn btn-secondary" (click)="limpiarForm()">Cancelar</button>
        </div>
      </div>
  </div>


</div>
</div>
