
<div class="card cardContenido" >
  <div class="card-header card-header-paddin d-flex justify-content-between align-items-center">
      <h3>Listado de unidades activas</h3>
  </div>
  <div class="card-body card-body-page">
            <div class="row mb-3">
                <div class="col-12 col-md-6 mb-2" *ngFor="let nivel of padresUnidad; let i = index">
                    <select class="form-select mt-3" [value]="nivel.seleccion || ''"(change)="onSeleccionarDependencia(i, $event)" ><!--  -->
                        <option value="" disabled selected>Seleccione Dependencia</option>
                        <option *ngFor="let dep of nivel.opciones" [value]="dep.id_unidad">
                            {{ dep.nombre_unidad }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-8 mb-2">
                    <input type="text" name="filterPost" id="" class="form-control filtrado-tabla" placeholder="Filtro" [(ngModel)] = "filterPost" (ngModelChange)="filtroTexto($event)">
                </div>

                <div class="col-12 col-md-4">
                    <button type="button" class="btn btn-primary" style="margin-right: 2rem;" (click)="limpiarFiltros()">Limpiar filtro</button>
                    <button type="button" class="btn btn-primary" (click)="abrirModalBuscarObservacion()">Buscar Observación</button>
                </div>
            </div>
      <div class="table-usuarios table-responsive content-list mt-5">
          <table class="table table-hover table-usuarios__tabla table-responsive table-bordered">
              <thead class="text-center table-dark">
                  <tr>
                      <th>ID</th>
                      <th>Unidad superior jerárquicamente</th>
                      <th>Nombre</th>
                      <th>Sigla</th>
                      <th>Departamento</th>
                      <th>Municipio</th>
                      <th>Estado</th>
                      <th>Registrar Archivo</th>
                      <th>Opciones</th>
                  </tr>
              </thead>
              <tbody class="text-center">
                  <tr *ngFor="let unidad of listaUnidades.data">
                      <td>{{ unidad.id_unidad }}</td>
                      <td>{{ unidad.padre_unidad?.nombre_unidad }}</td>
                      <td>{{ unidad.nombre }}</td>
                      <td>{{ unidad.sigla }}</td>
                      <td>{{ unidad.departamento }}</td>
                      <td>{{ unidad.municipio }}</td>
                      <td [ngClass]="{'elementoActivo': unidad.estado === 'Activo', 'elemnetoInactivo': unidad.estado === 'Suprimida'}">{{ unidad.estado }}</td>
                      <td style="font-size: 1.6rem;"><i class="fa-solid fa-box-archive text-secondary" (click)="abrirModalRegistroArchivo(unidad)"></i></td>
                      <td [width]="115">
                          <button type="button" title="Editar unidad" class="btn btn-primary" style="margin-right: .5rem; font-size: .8rem;" *ngIf="rolUser == 1" (click)="abrirModal(unidad)"> <i class="fas fa-pen fa-lg fa-fw"></i> </button><!-- (click)="abrirModal(unidad)" -->
                          <button type="button" title="Activar/Inactivar" class="btn btn-danger" style="font-size: .8rem;" *ngIf="rolUser == 1" (click)="editarEstado(unidad.idEstado, unidad.id_unidad)"> <i [ngClass]="unidad.idEstado === 1 ? 'fas fa-minus-circle' : 'fas fa-check-circle'" class="fa-lg fa-fw"></i> </button>
                          <button type="button" title="Ver informacion completa" class="btn btn-warning" style="margin-left: .5rem; font-size: .8rem; color: white;" [routerLink]="['/main/unidades/informacionUnidad', unidad.id_unidad]"> <i class="fa-solid fa-magnifying-glass-plus"></i> </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <nav aria-label="..." *ngIf="pagina > 0" class="mt-5">
          <ul class="pagination">
              <li class="page-item">
                  <a class="page-link" [class.disabled]="listaUnidades.infoPagination.pagina === 1" (click)="cambiarPagina(listaUnidades.infoPagination.pagina - 1)">Anterior</a>
              </li>

              <li *ngFor="let pagina of [].constructor(listaUnidades.infoPagination.totalPaginas); let i = index;" class="page-item" [class.active]="listaUnidades.infoPagination.pagina == i+1"><a class="page-link"(click)="cambiarPagina(i+1)">{{ i + 1 }}</a></li>

              <li class="page-item">
                  <a class="page-link" [class.disabled]="listaUnidades.infoPagination.pagina === listaUnidades.infoPagination.totalPaginas" (click)="cambiarPagina(listaUnidades.infoPagination.pagina + 1)">Siguiente</a>
              </li>
          </ul>
      </nav>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" #buscarObservacion  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Buscar por Observacion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <label for="" class="form-label">Observacion</label>
          <textarea name="" id="" class="form-control" rows="3" [(ngModel)]="observacion"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="buscarPorObservacion()">Buscar</button>
      </div>
    </div>
  </div>
</div>


<app-modal-editar-unidad [unidad]="unidad" (unidadEditada)="getLListadoUnidadesActivas(1)"></app-modal-editar-unidad>
<app-registro-archivo-unidad-activa [idUnidadActiva]="unidadArchivo"></app-registro-archivo-unidad-activa>
  <!-- <app-modal-editar-usuario [usuario]="usuario"></app-modal-editar-usuario> -->


