<div class="main-sidebar">

  <nav class="menu">
      <ul class="menu__content">

          <li class="menu__item" *ngIf="rolUser != '4'" [class.expanded]="isMenuExpanded('unidades')">
              <a (click)="toggleMenu('unidades')" class="menu__link">Unidades Suprimidas</a>
              <ul class="submenu" [class.submenu--open]="isMenuExpanded('unidades')">
                  <li class="submenu__item" [routerLink]="['/main/unidades/listadoUnidades']" routerLinkActive="active">Listado de unidades suprimidas</li>
                  <li class="submenu__item" [routerLink]="['/main/unidades/registroUnidadSuprimida']" routerLinkActive="active">Registro unidad suprimida</li>
              </ul>
          </li>

          <li class="menu__item" *ngIf="rolUser != '4'" [class.expanded]="isMenuExpanded('transferencias')">
              <a (click)="toggleMenu('transferencias')" class="menu__link">Transferencias</a>
              <ul class="submenu" [class.submenu--open]="isMenuExpanded('transferencias')">
                  <li class="submenu__item" [routerLink]="['/main/transferencias/solicitudTrasferencias']" routerLinkActive="active">Solicitud de transferencia</li>
                  <li class="submenu__item" [routerLink]="['/main/transferencias']" routerLinkActive="active">Listado de solicitudes</li>
              </ul>
          </li>

          <li class="menu__item" *ngIf="rolUser != '4'" [class.expanded]="isMenuExpanded('unidadesActivas')">
              <a (click)="toggleMenu('unidadesActivas')" class="menu__link">Unidades Activas</a>
              <ul class="submenu" [class.submenu--open]="isMenuExpanded('unidadesActivas')">
                  <li class="submenu__item" [routerLink]="['/main/unidades/unidadesActivas']" routerLinkActive="active">Listado unidades activas</li>
              </ul>
          </li>

          <li class="menu__item" *ngIf="rolUser != '4'" [class.expanded]="isMenuExpanded('organigrama')">
              <a (click)="toggleMenu('organigrama')" class="menu__link">Organigrama ejercito</a>
              <ul class="submenu" [class.submenu--open]="isMenuExpanded('organigrama')">
                  <li class="submenu__item" [routerLink]="['/main/organigrama/organigramaEjercito']" routerLinkActive="active">Organigrama ejercito</li>
              </ul>
          </li>
      </ul>
  </nav>
</div>
