
.formulario-usuarios__input{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.formulario-usuario__btn{
    margin-top: 2rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
}
