

<div class="card cardContenido" >
  <div class="card-header card-header-paddin d-flex justify-content-between align-items-center">
      <h3>Listado de solicitudes de transferencia</h3>
      <div class="content-btn-regresar">
          <button type="button" class="btn btn-primary" [routerLink]="['/main/transferencias/listadoSolicitudes']">Regresar</button>
      </div>
  </div>
  <div class="card-body card-body-page">
      <div class="table-usuarios content-list mt-5">
          <table class="table table-hover table-usuarios__tabla table-responsive table-bordered" >
              <thead class="text-center table-dark">
                  <tr>
                      <th>ID</th>
                      <!-- <th>Unidad</th>
                      <th>Año</th> -->
                      <th>Seccion</th>
                      <th>Serie</th>
                      <th>Subserie</th>
                      <th>Cajas</th>
                      <th>Carpetas</th>
                      <th>Otros</th>
                      <th>Folios</th>
                      <th>Opciones</th>
                  </tr>
              </thead>
              <tbody class="text-center">

                  <tr *ngFor="let detalle of detalle.data">
                      <td>{{ detalle.id_detalle_transferencia }}</td>
                      <!-- <td>{{ detalle.unidad }}</td>
                      <td>{{ detalle.anio }}</td> -->

                      <!-- Sección -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.seccion_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="text"
                              class="form-control"
                              [(ngModel)]="editingItem!.seccion_detalle_transferencia">
                      </td>

                      <!-- Serie -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.serie?.nombre_serie }}
                          </span>
                          <select *ngIf="editingItemId === detalle.id_detalle_transferencia"
                                  class="form-select"
                                  [(ngModel)]="editingItem!.serie.id_serie"
                                  (ngModelChange)="onSerieChange($event)"
                                  name="serieSelect">
                              <option value="">Seleccione</option>
                              <option *ngFor="let serie of series.data" [value]="serie.id_serie">{{ serie.nombre_serie }}</option>
                          </select>
                      </td>

                      <!-- Subserie -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.subserie?.nombre_subserie }}
                          </span>
                          <select *ngIf="editingItemId === detalle.id_detalle_transferencia"
                                  class="form-select"
                                  [(ngModel)]="editingItem!.subserie.id_subserie"
                                  (ngModelChange)="onSubserieChange($event)"
                                  name="subserieSelect">
                              <option value="">Seleccione</option>
                              <option *ngFor="let subserie of subseries.data" [value]="subserie.id_subserie">{{ subserie.nombre_subserie }}</option>
                          </select>
                      </td>

                      <!-- Cajas -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.cantidad_cajas_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="number"
                              class="form-control"
                              [(ngModel)]="editingItem!.cantidad_cajas_detalle_transferencia">
                      </td>

                      <!-- Carpetas -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.cantidad_carpetas_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="number"
                              class="form-control"
                              [(ngModel)]="editingItem!.cantidad_carpetas_detalle_transferencia">
                      </td>

                      <!-- Otros -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.cantidad_otros_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="number"
                              class="form-control"
                              [(ngModel)]="editingItem!.cantidad_otros_detalle_transferencia">
                      </td>

                      <!-- Folios -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.cantidad_folios_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="number"
                              class="form-control"
                              [(ngModel)]="editingItem!.cantidad_folios_detalle_transferencia">
                      </td>

                      <!-- Opciones -->
                      <td>
                          <!-- Botones cuando NO está en modo edición -->
                          <div *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              <button type="button" class="btn btn-danger" style="font-size: 1rem; margin-right: 1rem;" (click)="eliminarDetalle(detalle.id_detalle_transferencia)">
                                  <i class="fas fa-minus"></i>
                              </button>
                              <button type="button" class="btn btn-warning" style="font-size: 1rem;" (click)="editarItem(detalle)">
                                  <i class="fas fa-pen"></i>
                              </button>
                          </div>

                          <!-- Botones cuando SÍ está en modo edición -->
                          <div *ngIf="editingItemId === detalle.id_detalle_transferencia">
                              <button type="button" class="btn btn-success" style="font-size: 1rem; margin-right: 0.5rem;" (click)="confirmarEdicion()">
                                  <i class="fas fa-check"></i>
                              </button>
                              <button type="button" class="btn btn-secondary" style="font-size: 1rem;" (click)="cancelarEdicion()">
                                  <i class="fas fa-times"></i>
                              </button>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

      <div class="row mt-5">
          <p style="font-size: 2rem; font-weight: bold;">Documentos adjuntos</p>
          <div class="col-md-6">
              <div class="list-group">
                  <div class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let documento of documentos.data">
                      <span style="font-size: 1.3rem; cursor:pointer;" (click)="abrirModalDocumento(documento.id_documento)">{{ documento.documento.nombre_documento }}</span>
                      <button type="button" class="btn btn-sm btn-danger ms-2"  style="font-size: 1rem; margin-right: 1rem;" title="Eliminar documento adjunto" (click)="eliminarDocumentoAdjunto(documento.id_documento_transferencia); $event.stopPropagation()">
                          <i class="fas fa-times"></i>
                      </button>
                  </div>
              </div>
          </div>
      </div>


      <!-- <nav aria-label="..." *ngIf="pagina > 0" class="mt-5"> -->
          <ul class="pagination">
             <!--  <li class="page-item">
                  <a class="page-link" [class.disabled]="solicitud.infoPagination.pagina === 1" (click)="cambiarPagina(solicitud.infoPagination.pagina - 1)">Anterior</a>
              </li>

              <li *ngFor="let pagina of [].constructor(solicitud.infoPagination.totalPaginas); let i = index;" class="page-item" [class.active]="solicitud.infoPagination.pagina == i+1"><a class="page-link"(click)="cambiarPagina(i+1)">{{ i + 1 }}</a></li>

              <li class="page-item">
                  <a class="page-link" [class.disabled]="solicitud.infoPagination.pagina === solicitud.infoPagination.totalPaginas" (click)="cambiarPagina(solicitud.infoPagination.pagina + 1)">Siguiente</a>
              </li> -->
          </ul>
      <!-- </nav> -->


      <div class="row">
          <div class="col-md-12 d-flex justify-content-end">
              <button type="button" class="btn btn-warning" style="font-size: 1.3rem; margin-right: 2rem;" (click)="abrirModalAgregarDocumentos(0)">Agregar Documento</button>
              <button type="button" class="btn btn-primary" style="font-size: 1.3rem;" (click)="cambiarEstadoSolicitud()">Solicitar Revisión</button>
          </div>
      </div>

  </div>



</div>




<!-- Modal para ver documento -->
<div class="modal fade" id="modalVerDocumento" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ nombreDocumentoModal }}</h5>
                <button type="button" class="btn-close" (click)="cerrarModalDocumento()"></button>
            </div>
            <div class="modal-body" style="height: 80vh;">
                <iframe [src]="urlDocumentoModal | urlDocumentos" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<!-- modal para agregar documento -->
<div class="modal fade" id="modalAgregarDocumento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Agregar documentos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModalAgregarDocumentos()"></button>
            </div>
            <div class="modal-body">
              <input type="file" class="form-control" style="font-size: 1.3rem;" (change)="onArchivoSeleccionado($event)"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="font-size: 1.2rem;" data-bs-dismiss="modal" (click)="cerrarModalAgregarDocumentos()">Cerrar</button>
                <button type="button" class="btn btn-primary" style="font-size: 1.2rem;" (click)="registrarDocumentoAdjunto()">Guardar documento</button>
            </div>
        </div>
    </div>
</div>

<!-- <app-modal-editar-unidad [unidad]="unidad" (unidadEditada)="getAllUnidades(1)"></app-modal-editar-unidad> -->

  <!-- <app-modal-editar-usuario [usuario]="usuario"></app-modal-editar-usuario> -->


