

<div class="card cardContenido" >
  <div class="card-header card-header-paddin d-flex justify-content-between align-items-center">
      <h3>Listado de solicitudes de transferencia</h3>
      <div class="content-btn-regresar">
          <button type="button" class="btn btn-primary" [routerLink]="['/main/transferencias/listadoSolicitudes']">Regresar</button>
      </div>
  </div>
  <div class="card-body card-body-page">
      <div class="table-usuarios content-list mt-5">
          <table class="table table-hover table-usuarios__tabla table-responsive table-bordered" >
              <thead class="text-center table-dark">
                  <tr>
                      <th>ID</th>
                      <!-- <th>Unidad</th>
                      <th>Año</th> -->
                      <th>Seccion</th>
                      <th>Serie</th>
                      <th>Subserie</th>
                      <th>Cajas</th>
                      <th>Carpetas</th>
                      <th>Otros</th>
                      <th>Folios</th>
                      <th>Opciones</th>
                  </tr>
              </thead>
              <tbody class="text-center">

                  <tr *ngFor="let detalle of detalle.data">
                      <td>{{ detalle.id_detalle_transferencia }}</td>
                      <!-- <td>{{ detalle.unidad }}</td>
                      <td>{{ detalle.anio }}</td> -->

                      <!-- Sección -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.seccion_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="text"
                              class="form-control"
                              [(ngModel)]="editingItem!.seccion_detalle_transferencia">
                      </td>

                      <!-- Serie -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.serie_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="text"
                              class="form-control"
                              [(ngModel)]="editingItem!.serie_detalle_transferencia">
                      </td>

                      <!-- Subserie -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.subserie_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="text"
                              class="form-control"
                              [(ngModel)]="editingItem!.subserie_detalle_transferencia">
                      </td>

                      <!-- Cajas -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.cantidad_cajas_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="number"
                              class="form-control"
                              [(ngModel)]="editingItem!.cantidad_cajas_detalle_transferencia">
                      </td>

                      <!-- Carpetas -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.cantidad_carpetas_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="number"
                              class="form-control"
                              [(ngModel)]="editingItem!.cantidad_carpetas_detalle_transferencia">
                      </td>

                      <!-- Otros -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.cantidad_otros_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="number"
                              class="form-control"
                              [(ngModel)]="editingItem!.cantidad_otros_detalle_transferencia">
                      </td>

                      <!-- Folios -->
                      <td>
                          <span *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              {{ detalle.cantidad_folios_detalle_transferencia }}
                          </span>
                          <input
                              *ngIf="editingItemId === detalle.id_detalle_transferencia"
                              type="number"
                              class="form-control"
                              [(ngModel)]="editingItem!.cantidad_folios_detalle_transferencia">
                      </td>

                      <!-- Opciones -->
                      <td>
                          <!-- Botones cuando NO está en modo edición -->
                          <div *ngIf="editingItemId !== detalle.id_detalle_transferencia">
                              <button type="button" class="btn btn-danger" style="font-size: 1rem; margin-right: 1rem;" (click)="eliminarDetalle(detalle.id_detalle_transferencia)">
                                  <i class="fas fa-minus"></i>
                              </button>
                              <button type="button" class="btn btn-warning" style="font-size: 1rem;" (click)="editarItem(detalle)">
                                  <i class="fas fa-pen"></i>
                              </button>
                          </div>

                          <!-- Botones cuando SÍ está en modo edición -->
                          <div *ngIf="editingItemId === detalle.id_detalle_transferencia">
                              <button type="button" class="btn btn-success" style="font-size: 1rem; margin-right: 0.5rem;" (click)="confirmarEdicion()">
                                  <i class="fas fa-check"></i>
                              </button>
                              <button type="button" class="btn btn-secondary" style="font-size: 1rem;" (click)="cancelarEdicion()">
                                  <i class="fas fa-times"></i>
                              </button>
                          </div>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>

      <div class="row mt-5">
          <p style="font-size: 2rem; font-weight: bold;">Documentos adjuntos</p>
          <div class="col-md-6">
              <div class="list-group">
                  <a style="font-size: 1.3rem;" class="list-group-item list-group-item-action" *ngFor="let documento of documentos.data" (click)="abrirModalDocumento(documento.id_documento)">{{ documento.documento.nombre_documento }}</a>
              </div>
              <!-- <ul>
                <li *ngFor="let documento of documentos.data">{{ }}</li>
              </ul> -->
          </div>
      </div>


      <!-- <nav aria-label="..." *ngIf="pagina > 0" class="mt-5"> -->
          <ul class="pagination">
             <!--  <li class="page-item">
                  <a class="page-link" [class.disabled]="solicitud.infoPagination.pagina === 1" (click)="cambiarPagina(solicitud.infoPagination.pagina - 1)">Anterior</a>
              </li>

              <li *ngFor="let pagina of [].constructor(solicitud.infoPagination.totalPaginas); let i = index;" class="page-item" [class.active]="solicitud.infoPagination.pagina == i+1"><a class="page-link"(click)="cambiarPagina(i+1)">{{ i + 1 }}</a></li>

              <li class="page-item">
                  <a class="page-link" [class.disabled]="solicitud.infoPagination.pagina === solicitud.infoPagination.totalPaginas" (click)="cambiarPagina(solicitud.infoPagination.pagina + 1)">Siguiente</a>
              </li> -->
          </ul>
      <!-- </nav> -->
  </div>
</div>


<!-- Modal para ver documento -->
<div class="modal fade" id="modalVerDocumento" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ nombreDocumentoModal }}</h5>
                <button type="button" class="btn-close" (click)="cerrarModalDocumento()"></button>
            </div>
            <div class="modal-body" style="height: 80vh;">
                <iframe [src]="urlDocumentoModal | urlDocumentos" width="100%" height="100%" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<!-- <app-modal-editar-unidad [unidad]="unidad" (unidadEditada)="getAllUnidades(1)"></app-modal-editar-unidad> -->

  <!-- <app-modal-editar-usuario [usuario]="usuario"></app-modal-editar-usuario> -->


