/* You can add global styles to this file, and also import other style files */
html {
   box-sizing: border-box;
  font-size: 70.5%;
  min-height: 100%;
  position: relative;
}

*, *:before, *:after{
    box-sizing: inherit
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1.6rem !important;
    height: 100%;
    /* background-image: url(../public/imagenes/pagina/banner2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
}

/***********************************************************

        ************ VARIABLES **********

************************************************************/
:root {
    --shadow: 0px 3px 3px 4px rgba(112, 112, 112, 0.4);
    --gris: #969696;
    --blanco: #ffffff;
    --negro: #000000;
    --verdePrincipal: #1c5e1c;
    --verdePrincipalOscuro: #3e5315;
    --negroTrasparente: #00000065;
    --titulos: "Kanit", serif;
}

/***********************************************************

        ************ ESTILOS GENERALES **********

************************************************************/

h1{
    font-size: 4.8rem;
    font-family: var(--titulos);
    font-weight: 900;
    margin-bottom: 2rem;
}

h2{
    font-size: 4.4rem;
    font-family: var(--titulos);
    font-weight: 900;
    font-weight: 700;
    margin-bottom: 2rem;
}

h3{
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

h4{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.btn{
    font-size: 1.6rem;
    border: unset;
    border-radius: .5rem;
}

input{
    font-size: 1.6rem !important;
}

image{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

.btn-primary{
    background-color: var(--verdePrincipal);
    border-color: unset !important;
}

.btn-primary:hover{
    background-color: var(--verdePrincipalOscuro);
    color: var(--blanco);
    color: var(--blaco);
}

ul{
  list-style-type: none;
  padding: 0;
}

.form-control{
    font-size:  1.6rem !important;
    padding: 1rem;
}

.form-select{
    font-size: 1.6rem !important;
}

.swal2-html-container{
    font-size: 1.6rem !important;
}

.swal2-title{
    font-size: 2.8rem;
    font-family: unset !important;
}

.swal2-modal{
    width: 30%;
}

.swal2-styled{
    font-size: 1.3rem;
}

.swal2-icon{
    font-size: 1.2rem;
}

.dropdown-item{
    font-size: 1rem;
}

/***********************************************************

        ************ ESTILOS PARA LAS CARD DE CADA PAGINA **********

************************************************************/
.cardContenido{
    height: 100%;
    /* border-radius: 1rem; */
}

.card-header-paddin{
    padding: 1rem 2rem;
}

.card-body-page{
   padding: 2rem 4rem;
}
