
<div class="dashboard" [class.sidebar-closed]="!sidebarOpen">


    <div class="dashboard__header">
        <app-header (toggleSidebar)="toggleSidebar()"></app-header>
    </div>

    <!-- <div class="dashboard__content"> -->
        <div class="dashboard__content-sidebar" [class.sidebar-hidden]="!sidebarOpen">
            <app-sidebar></app-sidebar>
        </div>
        <div class="dashboard__content-main">
            <router-outlet></router-outlet>
        </div>
</div>



<app-loader [isLoading]="loading$ | async"></app-loader>

