<div class="card cardContenido" >
  <div class="d-flex card-header card-header-paddin align-items-center justify-content-between">
      <h3>Registro Unidades</h3>
      <div class="d-flex align-items-center justify-content-end content-button">

      </div>
  </div>
  <div class="card-body card-body-page">
      <form class="content-form" [formGroup]="formularioUnidad" (ngSubmit)="validarFormulario()">
          <div class="row">
              <div class="col-md-12 formulario__texto">
                  <p>Diligenciar todos los campos obligatorios marcados con un <span style="color: red;">*</span></p>
              </div>
          </div>
          <div class="row mt-4">
              <div class="col-md-6 form-group">
                  <label for="" class="form-label">* Nombre unidad</label>
                  <input class="form-control" type="text" formControlName="nombre" placeholder="">
                  @if (this.formularioUnidad.get('nombre')?.touched && formularioUnidad.get('nombre')?.errors?.['required']){
                      <div class="invalid-feedback" style="display: block;">
                          <small class="text-danger">Es necesario el campo nombre</small>
                      </div>
                  }
              </div>

              <div class="col-md-6 form-group">
                  <label for="" class="form-label">* Unidad que asumio el archivo</label>
                  <input class="form-control" type="text" formControlName="unidad_que_asume" placeholder="">
                  @if (this.formularioUnidad.get('unidad_que_asume')?.touched && formularioUnidad.get('unidad_que_asume')?.errors?.['required']){
                      <div class="invalid-feedback" style="display: block;">
                          <small class="text-danger">Es necesario la uniadad que asumio el archivo</small>
                      </div>
                  }
              </div>
          </div>

          <div class="row mt-5">
              <div class="col-md-6 form-group">
                  <label for="" class="form-label">* Sigla unidad</label>
                  <input class="form-control" type="text" formControlName="sigla" placeholder="">
                  @if (this.formularioUnidad.get('sigla')?.touched && formularioUnidad.get('sigla')?.errors?.['required']){
                      <div class="invalid-feedback" style="display: block;">
                          <small class="text-danger">Es necesario el campo sigla</small>
                      </div>
                  }
              </div>

              <div class="col-md-6 form-group">
                  <label for="" class="form-label">* Departamentos</label>
                  <select class="form-select" name="" id="" formControlName="departamentos">
                      <option value="">Seleeccionar</option>
                      <option *ngFor="let departamento of departamentos.data" [value]="departamento.id">{{ departamento.nombre }}</option>
                  </select>

                  @if (this.formularioUnidad.get('departamentos')?.touched && formularioUnidad.get('departamentos')?.errors?.['required']){
                      <div class="invalid-feedback" style="display: block;">
                          <small class="text-danger">Es necesario el campo departamento</small>
                      </div>
                  }
              </div>

          </div>

          <div class="row mt-5">


              <div class="col-md-6 form-group">
                  <label for="" class="form-label">* Municipios</label>
                  <select class="form-select" formControlName="idMunicipio">
                      <option value="">Seleccionar</option>
                      <option *ngFor="let municipio of municipios.data" [value]="municipio.id_municipio">{{ municipio.nombre_municipio }}</option>
                  </select>
                  @if (this.formularioUnidad.get('idMunicipio')?.touched && formularioUnidad.get('idMunicipio')?.errors?.['required']){
                      <div class="invalid-feedback" style="display: block;">
                          <small class="text-danger">Es necesario el campo municipios</small>
                      </div>
                  }
              </div>

              <div class="col-md-6 mt-5">
                  <div class="content-from__btn">
                      <button type="submit" class="btn btn-primary">Registrar</button>
                      <button type="button" class="btn btn-secondary" (click)="limpiarForm()">Limpiar</button>
                  </div>
              </div>
          </div>


      </form>
  </div>
</div>


