

<div class="card cardContenido" >
  <div class="card-header card-header-paddin d-flex justify-content-between align-items-center">
      <h3>Listado de solicitudes de transferencia</h3>
  </div>
  <div class="card-body card-body-page">
      <div class="content-buscador">
          <input type="text" name="filterPost" id="" class="form-control filtrado-tabla" [(ngModel)] = "filterPost" placeholder="Filtro">
      </div>

      <div class="table-usuarios content-list mt-5">
          <table class="table table-hover table-usuarios__tabla table-responsive table-bordered" >
              <thead class="text-center table-dark">
                  <tr>
                      <th>ID</th>
                      <th class="text-start">Unidad</th>
                      <th>Año transferencia</th>
                      <th>Seccion</th>
                      <th>Solicita</th>
                      <th>Cajas</th>
                      <th>Carpetas</th>
                      <th>Folios</th>
                      <th>Porcentaje</th>
                      <th>Fecha solicitud</th>
                      <th>Estado</th>
                      <th>Opciones</th>

                  </tr>
              </thead>
              <tbody class="text-center">
                  <tr *ngFor="let solicitud of solicitud.data | buscadorListadoSolicitudes:filterPost">
                      <td>{{ solicitud.idSolicitudTransferencia }}</td>
                      <td>{{ solicitud.unidad }}</td>
                      <td>{{ solicitud.anio }}</td>
                      <td>{{ solicitud.seccion }}</td>
                      <td>{{ solicitud.usuarioSolicita }}</td>
                      <td>{{ solicitud.cantidadCajas }}</td>
                      <td>{{ solicitud.cantidadCarpetas }}</td>
                      <td>{{ solicitud.cantidadFolios }}</td>
                      <td>{{ solicitud.porcentajeTransferencia | number:'1.0-0' }}%</td>
                      <td>{{ solicitud.fechaSolicitud }}</td>
                      <td>{{ solicitud.estadoSolicitud }}</td>
                      <td>
                          <button type="button" title="Editar unidad" class="btn btn-warning"  style="margin-left: 1rem; font-size: 1rem; color: white;"> <i class="fa-solid fa-magnifying-glass-plus"></i> </button>
                          <!-- <button type="button" title="Activar/Inactivar" class="btn btn-secondary" (click)="editarEstado(unidad.idEstado, unidad.id_unidad)"> <i [ngClass]="unidad.idEstado === 1 ? 'fas fa-minus-circle' : 'fas fa-check-circle'" class="fa-lg fa-fw"></i> </button>
                          <button type="button" title="Ver informacion completa" class="btn btn-warning" style="margin-left: 1rem; color: white;" [routerLink]="['/main/unidades/informacionUnidad', unidad.id_unidad]"> <i class="fa-solid fa-magnifying-glass-plus"></i> </button> -->
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <nav aria-label="..." *ngIf="pagina > 0" class="mt-5">
          <ul class="pagination">
              <li class="page-item">
                  <a class="page-link" [class.disabled]="solicitud.infoPagination.pagina === 1" (click)="cambiarPagina(solicitud.infoPagination.pagina - 1)">Anterior</a>
              </li>

              <li *ngFor="let pagina of [].constructor(solicitud.infoPagination.totalPaginas); let i = index;" class="page-item" [class.active]="solicitud.infoPagination.pagina == i+1"><a class="page-link"(click)="cambiarPagina(i+1)">{{ i + 1 }}</a></li>

              <li class="page-item">
                  <a class="page-link" [class.disabled]="solicitud.infoPagination.pagina === solicitud.infoPagination.totalPaginas" (click)="cambiarPagina(solicitud.infoPagination.pagina + 1)">Siguiente</a>
              </li>
          </ul>
      </nav>
  </div>
</div>


<!-- <app-modal-editar-unidad [unidad]="unidad" (unidadEditada)="getAllUnidades(1)"></app-modal-editar-unidad> -->

  <!-- <app-modal-editar-usuario [usuario]="usuario"></app-modal-editar-usuario> -->


