

<div class="card cardContenido" >
  <div class="card-header card-header-paddin d-flex justify-content-between align-items-center">
      <h3>Listado de solicitudes de transferencia</h3>
  </div>
  <div class="card-body card-body-page">
      <div class="content-buscador">
          <input type="text" name="filterPost" id="" class="form-control filtrado-tabla" [(ngModel)] = "filterPost" placeholder="Filtro">
      </div>

      <div class="table-usuarios content-list mt-5">
          <table class="table table-hover table-usuarios__tabla table-responsive table-bordered" >
              <thead class="text-center table-dark">
                  <tr>
                      <th class="text-start">Dependencia</th>
                      <th class="text-start">Unidad</th>
                      <th>Año</th>
                      <th>Cajas</th>
                      <th>Carpetas</th>
                      <th>Otros</th>
                      <th>Folios</th>
                      <th>Porcentaje</th>
                      <th>Solicita</th>
                      <th>Fecha solicitud</th>
                      <th>Aprobo</th>
                      <th>Fecha aprovacion</th>
                      <th>Estado</th>
                      <th>Opciones</th>

                  </tr>
              </thead>
              <tbody class="text-center">

                  <tr *ngFor="let solicitud of solicitud.data | buscadorListadoSolicitudes:filterPost">
                      <td>{{ solicitud.dependencia }}</td>
                      <td>{{ solicitud.unidad }}</td>

                      <td>{{ solicitud.anio }}</td>

                      <td>{{ solicitud.totalCajas }}</td>
                      <td>{{ solicitud.totalCarpetas }}</td>
                      <td>{{ solicitud.totalOtros }}</td>
                      <td>{{ solicitud.totalFolios }}</td>
                      <td>{{ solicitud.totalPorcentajeTransferencia | number:'1.2-2' }}%</td>
                      <td>{{ solicitud.usuarioSolicita }}</td>
                      <td>{{ solicitud.fechaSolicitud }}</td>
                      <td>{{ solicitud.usuarioRevisor }}</td>
                      <td>{{ solicitud.fechaFinSolicitud }}</td>
                      <td style="font-weight: bold;" [ngClass]="{'aprobada': solicitud.idEstado === 4, 'rechazada': solicitud.idEstado === 5, 'enProceso': solicitud.idEstado === 3}">{{ solicitud.estadoSolicitud }}</td>
                      <td>
                          <button type="button" title="Ver detalle" class="btn btn-warning"  style="font-size: 1rem; color: white;" [routerLink]="['/main/transferencias/detalleSolicitud', solicitud.idSolicitudTransferencia]"> <i class="fa-solid fa-magnifying-glass-plus"></i> </button>

                          <button type="button" title="Editar solicitud" class="btn btn-primary" style="margin-left: 1rem; font-size: 1rem;" *ngIf="solicitud.idEstado === 5 && solicitud.idUsuarioSolicita == usuarioLogueado" [routerLink]="['/main/transferencias/correccion', solicitud.idTransferencia]"><i class="fas fa-pen"></i></button>
                      </td>

                  </tr>


              </tbody>
          </table>
      </div>
      <nav aria-label="..." *ngIf="pagina > 0" class="mt-5">
          <ul class="pagination">
              <li class="page-item">
                  <a class="page-link" [class.disabled]="solicitud.infoPagination.pagina === 1" (click)="cambiarPagina(solicitud.infoPagination.pagina - 1)">Anterior</a>
              </li>

              <li *ngFor="let pagina of [].constructor(solicitud.infoPagination.totalPaginas); let i = index;" class="page-item" [class.active]="solicitud.infoPagination.pagina == i+1"><a class="page-link"(click)="cambiarPagina(i+1)">{{ i + 1 }}</a></li>

              <li class="page-item">
                  <a class="page-link" [class.disabled]="solicitud.infoPagination.pagina === solicitud.infoPagination.totalPaginas" (click)="cambiarPagina(solicitud.infoPagination.pagina + 1)">Siguiente</a>
              </li>
          </ul>
      </nav>
  </div>
</div>


<!-- <app-modal-editar-unidad [unidad]="unidad" (unidadEditada)="getAllUnidades(1)"></app-modal-editar-unidad> -->

  <!-- <app-modal-editar-usuario [usuario]="usuario"></app-modal-editar-usuario> -->


