
<div class="card cardContenido" >
  <div class="card-header card-header-paddin d-flex justify-content-between align-items-center">
      <h3>Listado de unidades</h3>
  </div>
  <div class="card-body card-body-page">
            <div class="row mb-3" *ngIf="rolUser === 1 ">
                <div class="col-12 col-md-6 mb-2" *ngFor="let nivel of nivelesDependencias; let i = index">
                    <select class="form-select mt-3" [value]="nivel.seleccion || ''" (change)="onSeleccionarDependencia(i, $event)">
                        <option value="" disabled selected>Seleccione Dependencia</option>
                        <option *ngFor="let dep of nivel.opciones" [value]="dep.id_dependencia">
                            {{ dep.nombre_dependencia }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-10 mb-2">
                    <input type="text" name="filterPost" id="" class="form-control filtrado-tabla" placeholder="Filtro" [(ngModel)] = "filterPost">
                </div>

                <div class="col-12 col-md-2">
                    <button type="button" class="btn btn-primary" (click)="limpiarFiltros()">Limpiar filtro</button>
                </div>
            </div>
      <div class="table-usuarios table-responsive content-list mt-5">
          <table class="table table-hover table-usuarios__tabla table-responsive table-bordered" >
              <thead class="text-center table-dark">
                  <tr>
                      <th>ID</th>
                      <th>Unidad superior jerárquicamente</th>
                      <th>Nombre</th>
                      <th>Sigla</th>
                      <th>Unidad que asume</th>
                      <th>Departamento</th>
                      <th>Municipio</th>
                      <th>Estado</th>
                      <th>OP</th>
                  </tr>
              </thead>
              <tbody class="text-center">
                  <tr *ngFor="let unidad of listaUnidades.data | buscadorListadoUnidades:filterPost">
                      <td>{{ unidad.id_unidad }}</td>
                      <td>{{ unidad.unidad_superior_jerarquicamente }}</td>
                      <td>{{ unidad.nombre }}</td>
                      <td>{{ unidad.sigla }}</td>
                      <td>{{ unidad.unidad_que_asume_archivo_unidad }}</td>
                      <td>{{ unidad.departamento }}</td>
                      <td>{{ unidad.municipio }}</td>
                      <td [ngClass]="{'elementoActivo': unidad.estado === 'Activo', 'elemnetoInactivo': unidad.estado === 'Suprimida'}">{{ unidad.estado }}</td><td>
                          <button type="button" title="Editar unidad" class="btn btn-primary" style="margin-right: 1rem; font-size: 1rem;" (click)="abrirModal(unidad)"> <i class="fas fa-pen fa-lg fa-fw"></i> </button>
                          <button type="button" title="Activar/Inactivar" class="btn btn-secondary" style="font-size: 1rem;" (click)="editarEstado(unidad.idEstado, unidad.id_unidad)"> <i [ngClass]="unidad.idEstado === 1 ? 'fas fa-minus-circle' : 'fas fa-check-circle'" class="fa-lg fa-fw"></i> </button>
                          <button type="button" title="Ver informacion completa" class="btn btn-warning" style="margin-left: 1rem; font-size: 1rem; color: white;" [routerLink]="['/main/unidades/informacionUnidad', unidad.id_unidad]"> <i class="fa-solid fa-magnifying-glass-plus"></i> </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
      <nav aria-label="..." *ngIf="pagina > 0" class="mt-5">
          <ul class="pagination">
              <li class="page-item">
                  <a class="page-link" [class.disabled]="listaUnidades.infoPagination.pagina === 1" (click)="cambiarPagina(listaUnidades.infoPagination.pagina - 1)">Anterior</a>
              </li>

              <li *ngFor="let pagina of [].constructor(listaUnidades.infoPagination.totalPaginas); let i = index;" class="page-item" [class.active]="listaUnidades.infoPagination.pagina == i+1"><a class="page-link"(click)="cambiarPagina(i+1)">{{ i + 1 }}</a></li>

              <li class="page-item">
                  <a class="page-link" [class.disabled]="listaUnidades.infoPagination.pagina === listaUnidades.infoPagination.totalPaginas" (click)="cambiarPagina(listaUnidades.infoPagination.pagina + 1)">Siguiente</a>
              </li>
          </ul>
      </nav>
  </div>
</div>


<app-modal-editar-unidad [unidad]="unidad" (unidadEditada)="getAllUnidades(1)"></app-modal-editar-unidad>

  <!-- <app-modal-editar-usuario [usuario]="usuario"></app-modal-editar-usuario> -->


