
<!-- Modal -->
<div class="modal fade" id="modalRegistroArchivoUnidadActiva" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Registro Archivo unidad activa</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="limpiarForm()"></button>
      </div>
      <div class="modal-body">
          <p><strong>Ruta:</strong> <span class="ruta"> {{ rutaUnidad }} </span></p>

           <!--*************** SECCION PARA CREAR EL ARCHIVO ***************-->
            <div class="row mt-2">
                <div class="col-md-8">
                  <select name="" id="" class="form-select">
                    <option value="">Seleccione el año a registrar</option>
                  </select>
                </div>

                <div class="col-md-4 d-flex align-items-center justify-content-end ">
                    <button type="button" class="btn btn-primary" (click)="crearNuevoAnioArchivo()">Crear nuevo año</button>
                </div>
            </div>

            <!--*************** SECCION PARA EL REGISTRO DEL NUEVO ANIO ***************-->

            <div class="row mt-5" *ngIf="mostrarRegistroAnioArchivo === true">
                <p style="margin-bottom: 1rem;">Registro de Archivo</p>
                <form action="" [formGroup]="formularioAnioArchivo">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="" class="form-label">* Año a registrar</label>

                               <select class="form-select" formControlName="anioRegistro">
                                <option value="">Seleccione</option>
                                <option *ngFor="let anio of anios.data" value="{{ anio }}">{{ anio }}</option>
                              </select>

                                @if (this.formularioAnioArchivo.get('anioRegistro')?.touched && formularioAnioArchivo.get('anioRegistro')?.errors?.['required']){
                                    <div class="invalid-feedback" style="display: block;">
                                        <small class="text-danger">Es necesario el año</small>
                                    </div>
                                }

                      </div>

                      <div class="col-md-4">
                          <label for="" >Cantidad cajas</label>
                          <input type="number" class="form-control" name="" id="" formControlName="cantidadCajas">
                      </div>

                      <div class="col-md-4">
                          <label for="" >Cantidad carpetas</label>
                          <input type="number" class="form-control" name="" id="" formControlName="cantidadCarpetas">
                      </div>
                  </div>

                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label for="" >Cantidad otros</label>
                            <input type="number" class="form-control" name="" id="" formControlName="cantidadOtros">
                        </div>

                        <div class="col-md-4">
                            <label for="" >Cantidad tomos</label>
                            <input type="number" class="form-control" name="" id="" formControlName="cantidadTomos">
                        </div>

                        <div class="col-md-4">
                            <label for="" >Cantidad folios</label>
                            <input type="number" class="form-control" name="" id="" formControlName="cantidadFolios">
                        </div>
                    </div>
                </form>
            </div>

          <form action="" [formGroup]="formularioRegistroArchivo">
              <div class="row">
                  <div class="col-md-12 formulario__texto">

                  </div>
              </div>
              <div class="row mt-5">

                  <!-- TABLA CON EL ADJUNTO DE LOS ARCHIVOS -->
                  <div class="contentTablaRegistro">
                      <table class="table table-bordered mt-5" *ngIf="solicitudesLegibles.length > 0">
                          <thead class="table-light">
                              <tr>
                                <th>#</th>
                                <th>Sección</th>
                                <th>Serie</th>
                                <th>Subserie</th>
                                <th>Cajas</th>
                                <th>Carpetas</th>
                                <th>Folios</th>
                                <th>Otros</th>
                                <th>Tomos</th>
                                <th>Eliminar</th>
                                <!-- <th>Documentos</th> -->
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let item of solicitudesLegibles; let i = index">
                                  <td>{{ i + 1 }}</td>
                                  <td>{{ item.seccion }}</td>
                                  <td>{{ item.nombre_serie }}</td>
                                  <td>{{ item.nombre_subserie }}</td>
                                  <td>{{ item.cantidad_cajas }}</td>
                                  <td>{{ item.cantidad_carpetas }}</td>
                                  <td>{{ item.cantidad_folios }}</td>
                                  <td>{{ item.descripcion_otro || '-' }}</td>
                                  <td>{{ item.cantidad_tomos || '-' }}</td>
                                  <td class="text-center"> <button type="button" class="btn btn-danger" (click)="eliminar(i)" style="height: 2rem; padding: 0 .5rem; margin: 0;" ><i class="fas fa-minus"></i></button></td><!--  -->
                                  <!-- <td>
                                    <ul class="mb-0">
                                      <li *ngFor="let doc of item.documentos">{{ doc.name }}</li>
                                    </ul>
                                  </td> -->
                              </tr>
                          </tbody>
                      </table>
                  </div>


                  <!-- SECCION PARA AJUNTAR EL ARCHIVO -->
                   <div *ngIf="anioSeleccionado === true">
                      <p>Diligenciar todos los campos obligatorios marcados con un <span style="color: red">*</span></p>
                      <div class="row mt-5"><!--  *ngIf="mostrarForm" -->
                        <div class="col-md-4">
                            <label for="" class="form-label">* Año del archivo</label>
                            <select class="form-select" formControlName="anioRegistro">
                                <option value="">Seleccione</option>
                                <option *ngFor="let anio of anios.data" value="{{ anio }}">{{ anio }}</option>
                            </select>

                            @if (this.formularioRegistroArchivo.get('anioRegistro')?.touched && formularioRegistroArchivo.get('id_archivo')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el año</small>
                                </div>
                            }

                        </div>
                        <div class="col-md-4">
                            <label for="" class="form-label">* Seccion <span style="color: rgba(158, 158, 158, 0.934);">(Segun la TOE)</span></label>
                            <input type="text" class="form-control" name="" id="" formControlName="seccion">

                            @if (this.formularioRegistroArchivo.get('seccion')?.touched && formularioRegistroArchivo.get('seccion')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesaria la sección</small>
                                </div>
                            }

                        </div>

                        <div class="col-md-4">
                            <label for="" class="form-label">* Serie</label>
                            <select class="form-select" formControlName="serie">
                                <option value="">Seleccione</option>
                                <option *ngFor="let serie of series.data" value="{{ serie.id_serie }}">{{ serie.nombre_serie }}</option>
                            </select>

                            @if (this.formularioRegistroArchivo.get('serie')?.touched && formularioRegistroArchivo.get('serie')?.errors?.['required']){
                                <div class="invalid-feedback" style="display: block;">
                                    <small class="text-danger">Es necesario el campo serie</small>
                                </div>
                            }
                        </div>
                      </div>

                      <div class="row mt-5" ><!-- *ngIf="mostrarForm" -->
                        <div class="col-md-4">
                              <label for="" class="form-label">* Subseries</label>
                              <select class="form-select" formControlName="subserie">
                                  <option value="">Seleccione</option>
                                  <option *ngFor="let subserie of subseries.data" value="{{ subserie.id_subserie }}">{{ subserie.nombre_subserie }}</option>
                              </select>

                              @if (this.formularioRegistroArchivo.get('subserie')?.touched && formularioRegistroArchivo.get('subserie')?.errors?.['required']){
                                  <div class="invalid-feedback" style="display: block;">
                                      <small class="text-danger">Es necesario el campo subserie</small>
                                  </div>
                              }
                          </div>
                          <div class="col-md-4">
                              <label for="" class="form-label">* Cantidad de cajas</label>
                              <input type="number" class="form-control" formControlName="cajas">

                              @if (this.formularioRegistroArchivo.get('cajas')?.touched && formularioRegistroArchivo.get('cajas')?.errors?.['required']){
                                  <div class="invalid-feedback" style="display: block;">
                                      <small class="text-danger">Es necesario la cantidad de cajas</small>
                                  </div>
                              }
                          </div>

                          <div class="col-md-4">
                              <label for="" class="form-label">* Cantidad de carpetas</label>
                              <input type="number" class="form-control" formControlName="carpetas">

                              @if (this.formularioRegistroArchivo.get('carpetas')?.touched && formularioRegistroArchivo.get('cantidad_carpetas')?.errors?.['required']){
                                  <div class="invalid-feedback" style="display: block;">
                                      <small class="text-danger">Es necesario la cantidad de carpetas</small>
                                  </div>
                              }
                          </div>

                          <!-- <div class="col-md-4">
                              <label for="" class="form-label"> Cantidad otros</label>
                              <input type="number" class="form-control" formControlName="cantidad_otros" title="(USB,CDS, DISKETTE, DISCOS, ETC)">
                              <div class="form-text" style="font-size: 1.2rem;">(USB,CDS, DISKETTE, DISCOS, ETC)</div>

                          </div> -->

                      </div>

                      <div class="row mt-5" ><!-- *ngIf="mostrarForm" -->
                        <div class="col-md-4">
                              <label for="" class="form-label"> Cantidad tomos</label>
                              <input type="number" class="form-control" formControlName="tomos">
                          </div>
                          <div class="col-md-4">
                              <label for="" class="form-label">* Cantidad de folios</label>
                              <input type="number" class="form-control" formControlName="folios">

                              @if (this.formularioRegistroArchivo.get('folios')?.touched && formularioRegistroArchivo.get('folios')?.errors?.['required']){
                                  <div class="invalid-feedback" style="display: block;">
                                      <small class="text-danger">Es necesario la cantidad de folios</small>
                                  </div>
                              }
                          </div>

                          <div class="col-md-4">
                              <label for="" class="form-label">Otro</label>
                              <select class="form-select" formControlName="tipoOtro">
                                  <option value="">Seleccione</option>
                                  <option *ngFor="let otro of tiposOtros.data" value="{{ otro.id_tipo_otro }}">{{ otro.nombre_tipo_otro }}</option>
                              </select>
                              <div class="form-text" style="font-size: 1rem;">{{ detalleOtro }}</div>
                          </div>
                      </div>

                      <div class="row mt-5" ><!-- *ngIf="mostrarForm" -->

                          <div class="col-md-3" *ngIf="formularioRegistroArchivo.get('tipoOtro')?.value">
                              <label for="" class="form-label">Cantidad otro</label>
                              <div class="input-group" style="">
                                  <input type="text" class="form-control" aria-label="Recipient" formControlName="otros" >
                                  <button class="btn btn-outline-secondary btn-sin-hover" type="button" id="button-addon2" (click)="agregarOtro()"><i class="fas fa-plus-circle fa-lg text-success"></i></button>
                              </div>
                          </div>
                      </div>

                      <div class="row mt-5 mb-4">
                          <div class="col-md-12 d-flex align-items-center justify-content-end ">
                              <button type="button" class="btn btn-warning" (click)="validarForm()">Agregar +</button><!-- <i class="fas fa-plus fa-lg fa-fw"></i> -->
                          </div>
                      </div>
                   </div>

              </div>
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiarForm()">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="enviarRegistros()">Registrar</button>
      </div>
    </div>
  </div>
</div>
